@model WindowsWebAdmin.Core.ModelBase
@{
    ViewBag.Title = "TaskList";
}
@{
    ViewBag.Title = "_MachineStat";
}
<div class="MachineStat">    
    <div style="text-align:center;">        
        <div style="display: inline-block; vertical-align: top;">
            <div><span class="Title">Ram Usage</span></div>
            <div><span>@string.Format("{0:#,##0.00}", (Model.Memory.UsedRam) / 1024.0 / 1024.0)/@string.Format("{0:#,##0.00}", Model.Memory.TotalRam / 1024.0 / 1024.0) Mb</span></div>
            @Html.Partial("~/Views/Shared/ProgressBar.cshtml", new WindowsWebAdmin.Models.ProgressData() { Value = Model.Memory.UsedRam, Max = Model.Memory.TotalRam })
        </div>
        <div style="display:inline-block;vertical-align:top;">
            <div><span class="Title">Virtual Memory Usage</span></div>
            <div><span>@string.Format("{0:#,##0.00}", (Model.Memory.UsedVirtualMemory) / 1024.0 / 1024.0)/@string.Format("{0:#,##0.00}", Model.Memory.AvailableVirtualMemory / 1024.0 / 1024.0) Mb</span></div>
            @Html.Partial("~/Views/Shared/ProgressBar.cshtml", new WindowsWebAdmin.Models.ProgressData() { Value = Model.Memory.UsedVirtualMemory, Max = Model.Memory.AvailableVirtualMemory })                        
        </div>
        @foreach (var cpu in Model.Cpu)
        { 
        <div style="display: inline-block; vertical-align: top;">
            <div><span class="Title">Cpu Info</span></div>            
            <div>
                <span>@cpu.Name (@cpu.Cores Cores) @cpu.CurrentSpeed Mhz</span>                
            </div>            
            <div style="float:left;">Load</div> @Html.Partial("~/Views/Shared/ProgressBar.cshtml", new WindowsWebAdmin.Models.ProgressData() { Value = Convert.ToUInt64(cpu.Load), Max = 100 })
        </div>
        }
    </div>
</div>


